<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Let's explore good food near you">
    <title>Foodoso | Let's explore good food near you</title>
</head>

<body>
    <a href="#content" class="skip-link">Go to content</a>
    <app-bar></app-bar>
    <main id="mainContent"></main>
    <footer>
        <div class="container">
            <span>Copyright © 2020 - Foodoso Apps</span>
        </div>
    </footer>
    <noscript>Your browser does not support JavaScript!</noscript>
</body>

</html>