<header class="fixed">
    <div class="app-bar-overlay">
        <div class="app-bar-mobile">
            <a href="javascript:void(0);" tabindex="-1" aria-label="menu" id="hamburgerButton" class="app-bar-menu">
                <img src="/assets/icons/icon-line/menu.svg" alt="Menu" crossorigin="anonymous"/>
            </a>
            <div class="app-bar-logo">
                <img src="/assets/images/app-logo.png" alt="Foodoso Logo" crossorigin="anonymous"/>
            </div>
            <a href="https://www.google.com/search?keywords=Restaurant" tabindex="-1" aria-label="search" class="app-bar-search">
                <img src="/assets/icons/icon-line/search.svg" alt="Search" crossorigin="anonymous"/>
            </a>
        </div>
        <div class="app-bar-desktop">
            <div class="container">
                <div class="app-bar-logo">
                    <img src="/assets/images/app-logo.png" alt="Foodoso Logo" crossorigin="anonymous"/>
                </div>
                <nav>
                    <ul class="nav-menu">
                        <li class="active">
                            <a href="/#/home">
                                <div class="nav-menu-icon">
                                    <img src="/assets/icons/icon-flat/home-alt2.svg" alt="Home" crossorigin="anonymous"/>
                                </div>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/#/favorite">
                                <div class="nav-menu-icon">
                                    <img src="/assets/icons/icon-flat/favourite.svg" alt="Favorite" crossorigin="anonymous"/>
                                </div>
                                <span>Favorite</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/gunalirezqimauludi" target="_blank" rel="noreferrer">
                                <div class="nav-menu-icon">
                                    <img src="/assets/icons/icon-flat/warning.svg" alt="About Us" crossorigin="anonymous"/>
                                </div>
                                <span>About Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="/#">
                                <div class="nav-menu-icon">
                                    <img src="/assets/icons/icon-flat/more-circle-vertical.svg" alt="Other" crossorigin="anonymous"/>
                                </div>
                                <span>Other</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="navigationDrawer">
            <div class="nav-header">
                <img src="/assets/images/avatar-image.png" class="avatar" alt="Gunali Rezqi Mauludi" crossorigin="anonymous"/>
                <span>Gunali Rezqi Mauludi</span>
            </div>
            <ul class="nav-menu">
                <li class="active">
                    <a href="/#/home" tabindex="-1">
                        <div class="nav-menu-icon">
                            <img src="/assets/icons/icon-flat/home-alt2.svg" alt="Home" crossorigin="anonymous"/>
                        </div>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/#/favorite" tabindex="-1">
                        <div class="nav-menu-icon">
                            <img src="/assets/icons/icon-flat/favourite.svg" alt="Favorite" crossorigin="anonymous"/>
                        </div>
                        <span>Favorite</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/gunalirezqimauludi" tabindex="-1" target="_blank" rel="noreferrer">
                        <div class="nav-menu-icon">
                            <img src="/assets/icons/icon-flat/warning.svg" alt="About Us" crossorigin="anonymous"/>
                        </div>
                        <span>About Us</span>
                    </a>
                </li>
                <li>
                    <hr class="separator" />
                </li>
                <li>
                    <a href="/#" tabindex="-1">
                        <div class="nav-menu-icon">
                            <img src="/assets/icons/icon-flat/settings.svg" alt="Settings" crossorigin="anonymous"/>
                        </div>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="/#" tabindex="-1">
                        <div class="nav-menu-icon">
                            <img src="/assets/icons/icon-flat/contrass-alt2.svg" alt="Privacy Policy" crossorigin="anonymous"/>
                        </div>
                        <span>Privacy Policy</span>
                    </a>
                </li>
            </ul>
            <a href="/#" tabindex="-1" class="btn btn-warning">Log out</a>
        </nav>
    </div>
</header>